<div class="">
  <table mat-table [dataSource]="listaCremas()" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Nro</th>
      <td mat-cell *matCellDef="let element; let index = index">
        {{ index + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="deleteCrema(element.id)"
          matTooltip="Eliminar"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <form (ngSubmit)="crearCrema(nuevaCrema)">
    <input [(ngModel)]="nuevaCrema.nombre" type="text" name="nombre" required />
    <button type="submit">Crear Crema</button>
  </form>
  <h1>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis pariatur
    tempore nisi eius iusto molestiae recusandae et libero alias eveniet!
    Similique cupiditate consequuntur, veniam aliquam excepturi itaque quam
    delectus molestiae. Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Sunt, modi tempore corrupti quisquam eaque cumque quis architecto
    quasi ab atque, in accusamus iure nulla ullam. Aspernatur nemo explicabo
    consectetur quae. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Eos minus vero optio recusandae culpa! Deserunt ullam consequuntur
    consectetur veritatis, nemo voluptatem. Quod incidunt perferendis tenetur
    atque molestiae optio suscipit fugit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Obcaecati natus adipisci dolor laboriosam impedit
    provident voluptatibus, numquam earum sed esse ipsam officiis quaerat
    laudantium non quidem labore voluptatem! Hic, modi! Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Dolores, odio accusantium a, quibusdam
    est ad veritatis reprehenderit perferendis ullam consequuntur rem doloremque
    dicta quo magni modi fuga nam nemo eligendi? Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Maiores explicabo officiis pariatur!
    Laboriosam, nemo animi voluptatem eligendi tempore, quidem saepe quis atque
    odit tempora illo labore veritatis, odio cumque quibusdam. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Repudiandae dolores officiis earum
    ducimus. Magni error recusandae eveniet delectus perspiciatis doloribus
    libero placeat earum, corrupti alias, pariatur nulla! Cum, obcaecati enim.
  </h1>
</div>
